@import "tailwindcss";

@theme {
  /* Cores Base da Identidade Visual */
  --color-afa-red: #ff0000;
  --color-afa-dark-red: #cc0000;
  --color-afa-black: #1a1a1a;
  --color-charcoal-gray: #4b5563;
  --color-light-gray: #f3f4f6;
  --color-pure-white: #ffffff;
  --color-border-gray: #e5e7eb;

  /* Mapeamento Semântico para o Layout */
  --color-brand: var(--color-afa-red);
  --color-brand-hover: var(--color-afa-dark-red);
  --color-heading: var(--color-afa-black);
  --color-body-text: var(--color-charcoal-gray);
  --color-surface: var(--color-pure-white);
  --color-background: var(--color-light-gray);
  --color-border: var(--color-border-gray);
}


/* Animação: 1s de pulso + 4s de pausa = 5s total */
@keyframes pulso-externo {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  20% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.anima-pulso {
  animation: pulso-externo 5s ease-out infinite !important;
}

/* Esconde a pulsação no hover para focar no brilho */
.group:hover .anima-pulso {
  opacity: 0;
  transition: opacity 0.3s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.marquee-inner {
  /* Ajuste os 30s para mais ou para menos para alterar a velocidade */
  animation: marqueeScroll 30s linear infinite;
}
/* Pausa a animação quando o mouse passa por cima do container */
.marquee-wrapper:hover .marquee-inner {
  animation-play-state: paused;
}
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
