@import "tailwindcss";

@theme {
  /* Cores Base da Identidade Visual */
  --color-afa-red: #ff0000;
  --color-afa-dark-red: #cc0000;
  --color-afa-black: #1a1a1a;
  --color-charcoal-gray: #4b5563;
  --color-light-gray: #f3f4f6;
  --color-pure-white: #ffffff;
  --color-border-gray: #e5e7eb;

  /* Mapeamento Semântico para o Layout */
  --color-brand: var(--color-afa-red);
  --color-brand-hover: var(--color-afa-dark-red);
  --color-heading: var(--color-afa-black);
  --color-body-text: var(--color-charcoal-gray);
  --color-surface: var(--color-pure-white);
  --color-background: var(--color-light-gray);
  --color-border: var(--color-border-gray);
}


/* Cria o movimento suave de subir, descer e dar uma leve rotacionada */
  @keyframes flutuar {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(2deg); }
    100% { transform: translateY(0px) rotate(0deg); }
  }
  
  /* Aplica a animação */
  .anima-flutuar {
    animation: flutuar 4s ease-in-out infinite;
  }
  
  /* A mesma animação, mas com atraso para as duas imagens não balançarem iguais */
  .anima-flutuar-atraso {
    animation: flutuar 4s ease-in-out 2s infinite;
  }